<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="demo">
  <div class="container">
      <div class="row">
          <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
              <div class="email-signature">
                  <div class="signature-img">
                      <img [src]="userImageUrl" alt="">
                  </div>
                  <div class="signature-details">
                      <h3 class="title">{{userName}}</h3>
                      <span class="post">{{userJobTitle}}</span>
                  </div>
                  <ul class="signature-content">
                      <li><span class="fas fa-map-marker-alt"></span> {{greetingMessage}}</li>
                      <li><span class="fas fa-envelope"></span> {{webSiteTitle}}</li>
                      
                  </ul>
                  
              </div>
          </div>
      </div>
  </div>
</div>